<!-- navbar.html -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm px-4">
  <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="#">
    <i class="bi bi-box-seam"></i> GestiónApp
  </a>

  <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNav" 
    aria-controls="navbarNav" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/src/Pages/Technicians.html">
          <i class="bi bi-arrow-left-right"></i> Technician
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/src/Pages/Sensors.html">
          <i class="bi bi-tags"></i> Sensors
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/src/Pages/Crops.html">
          <i class="bi bi-tags"></i> Crops
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/src/Pages/Farms.html">
          <i class="bi bi-tags"></i> Farms
        </a>
      </li>
    </ul>


  </div>
</nav>
